---
import { Image } from "astro:assets";
import Paisaje from "../assets/paisaje.webp";
import Paisaje2 from "../assets/paisaje2.webp";
import Paisaje3 from "../assets/paisaje3.webp";
import Paisaje4 from "../assets/paisaje4.webp";
import { projects } from "../helpers/projectsData";
---

<div
  id="projectsGrid"
  class="[&>div>a>div>div>h3]:text-base lg:[&>div>a>div>div>h3]:text-lg xl:[&>div>a>div>div>h3]:text-xl [&>div>a>div>div>p]:text-sm"
>
  {
    projects.map((project) => (
      <div class="card relative overflow-hidden transition [&>a>img]:hover:scale-110 [&>a>img]:hover:opacity-10 [&>a>div]:hover:opacity-100 hover:[&>*]:cursor-crosshair">
        <a href={project.link} target="_blank">
          <Image
            src={project.img}
            alt="Paisaje"
            inferSize={true}
            class="w-full object-cover h-[12rem] md:h-full md:max-h-[28rem] transition duration-500 grayscale-[50%]"
          />
          <div class="info transition duration-500 opacity-0 flex flex-col gap-8 absolute top-1/2 left-1/2 -translate-y-1/2 -translate-x-1/2 flex items-center justify-center">
            <div class="infoTitle flex flex-col gap-2 items-center justify-center">
              <h3>{project.name}</h3>
              <p class="text-md">{project.description}</p>
            </div>
            <div class="technologies flex flex-row justify-center gap-x-2 [&>*]:m-0">
              {project.technologies.map((Technology) => (
                <Technology />
              ))}
            </div>
          </div>
        </a>
      </div>
    ))
  }
</div>

<style>
  #projectsGrid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    p,
    h3 {
      width: 450px;
      text-align: center;
    }
  }

  @media screen and (min-width: 1024px) {
    #projectsGrid {
      grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    }
  }
</style>
